<form action = "/data" method = "POST">
    <h1>Register</h1>
    <p>Use the following form to register for a student organization based on its ID number, which are listed below:</p>
    <ul>
        <li>1. UNCC Game Developers</li>
        <li>2. Theater Club</li>
        <li>3. Charlotte Hack</li>
        <li>4. Running Club</li>
        <li>5. Culinary Club</li>
    </ul>
    <p>Name: <input type = "text" name = "Name" /></p>
    <p>Organization Number: <input type = "number" name = "Organization" /></p>
    <p><input type = "submit" value = "Register" /></p>
    <nav>
        <a href = "/data">Student List</a>
    </nav>
</form>